<div *ngIf="subCategory && subCategory.name">
    <div class="banner-top" 
        [ngStyle]="{'background-image': 'url(http://localhost:3000/api/media/download/'+subCategory.imageName+')' }">
    <!-- <img class="subCategory-banner" src="http://localhost:3000/api/media/download/{{subCategory.imageName}}"
        alt="{{subCategory.name}}" /> -->
  </div>
</div>
<section class="container-fluid">
  <div class="row">
      <aside class="col-md-3">
          Filters
      </aside>
      <div class="col-md-9">
          <div class="row">
                <ng-container *ngFor="let product of productList">
                  <div class="col-md-3">
                      <div class="product">
                          <div class="fav-box" (click)="toggleFav(product)">
                            <i *ngIf="product.fav" class="fas fa-heart"></i>
                            <i *ngIf="!product.fav" class="far fa-heart"></i>
                          </div>
                          <div class="product-image">
                              <img class="" src="http://localhost:3000/api/media/download/{{product.image_id}}"
                              alt="{{product.name}}" />
                          </div>
                          <div class="product-name">
                            <a routerLink="/store/buy/{{product.identifier}}">{{product.name}}</a>
                          </div>
                          <div class="brand"><small><i>{{storeService.getProductInfo('Brand', '_id', product.brand_id, 'name')}}</i></small></div>
                          <div class="product-price">
                            <div class="latest-price">₹{{productHelper.getPriceFormat(product.basePrice*((100-product.discount)/100))}}</div>
                            <div class="actual-price" *ngIf="product.discount">
                                <small>₹{{productHelper.getPriceFormat(product.basePrice)}}</small>
                            </div>
                            <div class="discount" *ngIf="product.discount">
                                <small><i>{{product.discount}}% off</i></small>
                            </div>
                          </div>
                          <div class="highlights">
                            <ng-container *ngFor="let specification of product.specification">
                              <ng-container *ngFor="let feature of specification.list">
                                <div *ngIf="feature.highlight.toString()=='true'">
                                  <span class="featureProp">{{feature.prop}}</span> : {{feature.propValue}}
                                </div>
                              </ng-container>
                            </ng-container>
                          </div>
                      </div>
                  </div>
                </ng-container>
            </div>
      </div>
  </div>
</section>