<div class="bg-dark">
  <nav class="container navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="javascript:void(0)"><i class="fas fa-tshirt"></i> SHANTA APPARELS</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-end" id="navb">
      <ul class="navbar-nav second-nav">
        <li class="nav-item grow-max">
            <form class="form-inline">      
                <div class="input-group grow-max">
                  <input class="form-control search search-input" type="text" placeholder="Search">
                  <div class="input-group-append">
                    <button class="search search-btn" type="button"><i class="fas fa-search"></i></button>
                  </div>
                </div>      
              </form>
        </li>
        <li class="nav-item dropdown" *ngFor="let header of headerCategories; let i = index">
          <a class="nav-link" [ngClass]="{'dropdown-toggle': header.subCategories && header.subCategories.length}" href="#" id="navbardrop{{i}}" data-toggle="dropdown" >
            {{header.name}}
          </a>
          <div class="dropdown-menu position-right" *ngIf="header.subCategories && header.subCategories.length">
            <ng-container *ngFor="let subCat of header.subCategories">
              <a class="dropdown-item" href="#" ><b>{{subCat.name}}</b></a>
              <ng-container *ngFor="let secCat of subCat.sectionalCategories">
                <a class="dropdown-item" href="#" >{{secCat.name}}</a>
              </ng-container>
            </ng-container>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fas fa-user-circle"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
