.grow-max{
    flex-grow: 1;
}
.second-nav{
    flex-grow: 0.5;
}
.search{
    background: transparent;
    border: 0;
    border-bottom: 1px solid aliceblue;
    border-radius: 0px;
    color: aliceblue;
    &.search-btn{
        color: green;
    }
}