<div class="bg-dark">
  <nav class="container navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="javascript:void(0)"><i class="fas fa-tshirt"></i> SHANTA APPARELS</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-end" id="navb">
      <ul class="navbar-nav second-nav">
        <li class="nav-item grow-max">
            <form class="form-inline">      
                <div class="input-group grow-max">
                  <input class="form-control search search-input" type="text" placeholder="Search">
                  <div class="input-group-append">
                    <button class="search search-btn" type="button"><i class="fas fa-search"></i></button>
                  </div>
                </div>      
              </form>
        </li>
        <li class="nav-item" *ngFor="let header of headerCategories">
          <a class="nav-link" href="javascript:void(0)">{{header.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fas fa-user-circle"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
