
<div class="form-group">
  <label for="specification">Product specification</label>
  <div class="input-group">
    <input type="text" class="form-control" id="newSpecification"
    placeholder="Enter new Specification" name="newSpecification" 
    [(ngModel)]="newSpecification"/>
    <div class="input-group-append" >
      <button class="btn btn-primary" (click)="addNewSpecification(newSpecification)">
        <i class="fas fa-clipboard-list"></i> Add</button>
    </div>
  </div>
  <div *ngFor="let spec of specifications;let i = index">
    <div class="card">
      <div class="card-header"><b>{{spec.name}} </b>
        <i class="floatR pointer fas fa-trash-alt text-danger" (click)="deleteSpecification(i)"></i>
      </div>
      <div class="card-body">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-indent"></i></span>
          </div>        
          <input type="text" class="form-control" id="specName" [(ngModel)]="spec.specProp"
          placeholder="Write Specification Property" name="specName"/>
          <input type="text" class="form-control" id="specValue" [(ngModel)]="spec.specPropValue"
          placeholder="Write specifictaion property value" name="specValue"/>
          
          <select class="form-control" id="spec.showInHighlight" name="spec.showInHighlight"
            [(ngModel)]="spec.showInHighlight">
            <option value="">--Show in Highlight--</option>
            <option value="true">true</option>
            <option value="false">false</option>
          </select>

          <div class="input-group-append" >
            <button class="btn btn-success" 
            (click)="addNewSpecificationProperty(spec)">
                <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>

        <span *ngFor="let specProp of spec.list;let j = index" class="specPropHolder" [ngClass]="{'highlight':specProp.highlight=='true'}">
          <label class="specProp">{{specProp.prop}}</label> : 
          <strong>{{specProp.propValue}}</strong>
          <i class="fas fa-times text-danger pointer close" (click)="deleteSpecificationProperty(spec.list,j)"></i>
        </span>

      </div>
    </div>
  </div>
</div>
