<ng-container *ngIf="set.records.length">
  <h2>{{set.header}}</h2>
  <div class="container-fluid">
      <div class="track" #track>
        <div class="train" #train>
          <!-- <div class="coaches" *ngFor="let product of set.records" [ngStyle]="{'width': recordWidth+'px'}"> -->
          <div class="coaches" *ngFor="let product of set.records" [style.width.px]="recordWidth">
            <img class="media" src="http://localhost:3000/api/media/download/{{product.image_id}}"
              alt="{{product.name}}" />
            <div class="information">
              <h6 class="name">{{product.name}}</h6>
              <p class="description">{{product.description}}</p>
              <a routerLink="/store/buy/{{product.identifier}}" target="_blank" class="btn">Buy Now</a>
            </div>
          </div>
        </div>      
        <a class="carousel-control-prev" (click)="showPrev()" *ngIf="shifted < 0">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" (click)="showNext()" *ngIf="!disableNext">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
  </div>
</ng-container>