<div class="container">
  <h2>
    Shopping Cart
    <span *ngIf="products.length">({{products.length}})</span>
  </h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let product of products">
      <div class="product-image-box">
        <!-- <product-image-gallery [images]="product.image_id.split(',')"></product-image-gallery> -->
        <img src="http://localhost:3000/api/media/download/{{product.image_id.split(',')[0]}}"
        alt="{{product.name}}" />
      </div>
      <div class="description">
        {{product.name}}
        <div class="brand"><small><i>{{storeService.getProductInfo('Brand', '_id', product.brand_id, 'name')}}</i></small></div>
        <div class="product-price">
          <div class="latest-price">₹{{productHelper.getPriceFormat(product.basePrice*((100-product.discount)/100))}}</div>
          <div class="actual-price" *ngIf="product.discount">
              <small>₹{{productHelper.getPriceFormat(product.basePrice)}}</small>
          </div>
          <div class="discount" *ngIf="product.discount">
              <small><i>{{product.discount}}% off</i></small>
          </div>
        </div>
        <div>
          <span class="count-group">
            <i class="fas fa-minus" (click)="removeQty(product)"></i>
            <span class="count-box">{{product.count}}</span>
            <i class="fas fa-plus" (click)="addQty(product)"></i>
          </span>
        </div>
      </div>
      <i class="fas fa-trash-alt pointer text-danger" (click)="removeProduct(product)"></i>
    </li>
  </ul>
  <br/>
  <a class="btn btn-warning" routerLink="/store">Back to Shopping <i class="fas fa-shopping-bag"></i></a>
</div>
<br/>