.banner-top{
    height: 300px;
    overflow: hidden;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.category-banner{
    width: 100%;
}