
<div id="homeCarousel" class="carousel slide" data-ride="carousel"
  *ngIf="homeBanner && homeBanner.length">

  <!-- Indicators -->
  <ul class="carousel-indicators">

    <li data-target="#homeCarousel" [attr.data-slide-to]="i"
      *ngFor="let banner of homeBanner; let i = index"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let banner of homeBanner; let j = index"
      [ngClass]="{'active' : j == 0}">
      <a routerLink="{{banner.link}}">
        <img src="http://localhost:3000/api/media/download/{{banner.imageId}}"
          alt="{{banner.title}}" width="1100" height="500" />
      </a>
      <div class="carousel-caption">
        <h3>{{banner.title}}</h3>
        <p>{{banner.paragraph}}</p>
      </div>
    </div>
  </div>  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#homeCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#homeCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<br/>
<ng-container *ngFor="let set of miscellaneous">
  <carousel-set [set]="set"></carousel-set>
  <br/><br/>
</ng-container>
